@model IEnumerable<Core.Models.Source>
@{
    ViewData["Title"] = "List";
}

<ul>
    @foreach (var source in Model)
    {
        <li>
            <a class="film" href="javascript:void(0)" data-path="@source.Path">@source.Title</a>
        </li>
    }
</ul>

<br />

<button id="stop">Stop</button>
<br/>
<button id="pause">Pause</button>

@section Scripts
{
    <script>
        $(".film").click(function (event) {
            $.post("@Url.Action("Play", "OmxPlayer")", { path: this.dataset.path });
        })

        $("#stop").click(function(event) {
            $.post("@Url.Action("Stop", "OmxPlayer")");
        });

        $("#pause").click(function(event) {
            $.post("@Url.Action("Pause", "OmxPlayer")");
        });
    </script>
}
